body
    {
        background-color: brown;
    }

.container 
    {
        width: 90%;
    }


.nav.header
    {
        font-size: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px 0;
    }
    
.nav-brand 
    {
        width: 50px;
    }
    .carousel-inner img {
        width: 100%;
        max-height: 1280px;
    }
    
    .carousel-inner{
     height: 720px;
    }
    